<div class="wrapper">

  <div [perfectScrollbar]="perfectScrollbarConfig"
       (psYReachEnd)="uploadMore()"
       [ngSwitch]="smilesTypeActive"
       class="smiles"
  >
    <div *ngSwitchCase="'emoji'" class="emoji">
      <div *ngFor="let emoji of emoji$ | async" (click)="emojiSelect(emoji)" class="emoji-item">
        <img src="{{ emoji?.image }}" alt="">
      </div>
    </div>

    <div *ngSwitchCase="'stickers'" class="stickers">
      <div *ngFor="let sticker of stickers$ | async" class="sticker">
        <img [src]="sticker?.image" class="sticker-image" alt="sticker-image">
        <div class="price">
          <img src="../../../../../assets/icons/svg-icons/currency.svg" alt="currency" class="currency">
          0,99
        </div>
      </div>
    </div>
  </div>

  <div class="tabs">
    <div *ngFor="let tab of tabs"
         [ngClass]="{'active-tab': tab?.active}"
         (click)="changeTab(tab)"
         class="tab"
    >
      {{ tab?.translate }}
    </div>
  </div>

</div>
