.transactions-history {
  p {
    margin-bottom: 0 !important;
    white-space: nowrap;
  }
  padding: 62px 0;
  @media screen and (max-width: 800px) {
    padding: 30px 0;
  }
  &__header {
    margin-bottom: 40px;
    @media screen and (max-width: 700px) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 15px;
    }
  }
  &__main-title {
    color: #000;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 500;
    @media screen and (max-width: 700px) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 25px;
      margin-bottom: 15px;
    }
  }
}
.calendar {
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  max-width: 300px;
  &__image {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
  }
  &__input {
    position: relative;
    width: 100%;
    height: 50px;
    border: 1px solid #f8856b;
    border-radius: 5px;
    padding: 0 0px 0 40px;
    color: #f8856b;
    font-weight: 500;
    font-size: 16px;
    background: none;
    cursor: pointer;
    @media screen and (max-width: 560px) {
      padding: 0 0px 0 15px;
    }

    &::placeholder {
      font-family: Roboto, sans-serif;
      color: #f8856b;
      font-weight: 500;
      opacity: 1;
    }
  }
  .mat-datepicker-wrapper {
    position: absolute;
    left: 0;
    top: -65px;
    width: 100%;
    height: auto;
  }
}
.transactions-history-list {
  &__blur {
    position: relative;
    @media screen and (max-width: 890px) {
      &:after {
        content: '';
        z-index: 15;
        height: 100%;
        position: absolute;
        width: 30px;
        background: linear-gradient(to right, transparent, #fafafa);
        top: 0;
        right: 0;
      }
    }
  }
  &__overflow {
    overflow-x: auto;
  }
  &__wrapper {
    min-width: 850px;
  }
  &__first-row {
    display: grid;
    grid-template-columns: 60px 250px 130px minmax(20px, 100%);
    @media screen and (max-width: 560px) {
      grid-template-columns: 50px 240px 120px minmax(20px, 100%);
    }
  }

  &__second-row {
    max-width: 450px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 25px;
    grid-column-gap: 25px;
  }
  &__header {
    margin-bottom: 10px;
    padding-left: 40px;

    @media screen and (max-width: 560px) {
      padding-left: 15px;
    }

    p {
      color: #000000;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
  &__item {
    background: #ffffff;
    border: 1px solid #e3e4e8;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 60px;
    padding-left: 40px;

    @media screen and (max-width: 560px) {
      padding-left: 15px;
    }

    &-index {
      font-size: 16px;
      line-height: 15px;
    }
    &-name {
      font-size: 14px;
      font-weight: 600;
      margin-left: 10px;
    }
    &-age {
      font-size: 14px;
      color: #a4a4a4;
    }
    &-description {
      color: #a4a4a4;
      font-size: 16px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    &-date,
    &-price-value,
    &-currency {
      color: #29333f;
      font-size: 16px;
      margin-bottom: 0;
    }
    &-currency {
      font-size: 12px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
