<div fxLayout="column">

  <div fxLayout="column" fxLayoutAlign="center center">

    <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="30px">

      <div class="title">{{ 'CHANGE_PASSWORD' | translate }}</div>

      <form name="resetForm"
            [formGroup]="resetForm"
            (ngSubmit)="onSubmit()"
            novalidate
            fxLayout="column"
            fxLayoutAlign="center"
            fxLayoutGap="10px">

        <!--
        <mat-form-field appearance="outline">
          <mat-label>Old password</mat-label>
          <input matInput formControlName="oldPassword">
          <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
          <mat-error *ngIf="resetForm.get('oldPassword').hasError('required')">
            Old password is required
          </mat-error>
        </mat-form-field>
        -->

        <mat-form-field appearance="outline">
          <mat-label>New password</mat-label>
          <input matInput formControlName="password">
          <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
          <mat-error *ngIf="resetForm.get('password').hasError('required')">
            New password is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirm password</mat-label>
          <input matInput formControlName="confirmPassword">
          <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
          <mat-error *ngIf="resetForm.get('confirmPassword').hasError('required')">
            Confirm password
          </mat-error>
          <mat-error *ngIf="resetForm.get('confirmPassword').hasError('MatchPassword')">
            Password not match
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="accent" class="submit-button" aria-label="SAVE_CHANGES"
                [disabled]="resetForm.invalid">
          Reset password
        </button>

      </form>

    </div>

  </div>

</div>