.video {
    display: flex;
    align-items: center;
    justify-content: center;

    &__wrapper {
        height: 100%;
        width: 100%;
    }
}

.smile {
    svg {
        transition: fill .2s ease;
        fill: #c5c5c5;
    }

    &:hover {
        svg {
            fill: #00BDBA;
        }
    }

    &:active {
        svg {
            fill: #009592;
        }
    }
}

.chat-control {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #00bdba;
    padding: 4px 6px;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 14px;
    color: #00bdba;

    span {
        height: initial !important;
    }

    @media screen and (min-width: 769px) {
        display: none;
    }
}

.send {
    background-color: #00bdba;
    border-radius: 6px;
    padding: 8px 12px;
    margin-left: 10px;
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.65);
    transition: background-color .2s ease, box-shadow .2s ease;
    cursor: pointer;

    @media screen and (min-width: 768px) {
        padding: 10px 14px;
        margin-left: 15px;
    }

    &:hover {
        background-color: #00a7a4;
        box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.9);
    }

    &:active {
        background-color: #008e8c;
        box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.9);
    }
}

.chat-room {
  position: relative;
}

.smiles {
  position: absolute;
  right: 0;
  top: 7%;
  bottom: 8%;
  height: 87%;
  padding: 0 10px 10px 0;

  @media screen and (max-width: 769px) {
      height: 80%;
      top: 9%;
      bottom: 6%;
    }
}
