<div class="uploaded-photo-component stories col-12">
    <div class="contacts mt-32 row">
        <div class="col-auto store-content cursor-pointer">
            <div class="store">
                <img src="https://via.placeholder.com/350x350" alt="">
            </div>
        </div>
        <div class="col-auto store-content cursor-pointer">
            <div class="store">
                <img src="https://via.placeholder.com/350x350" alt="">
            </div>
        </div>
        <div class="col-auto store-content cursor-pointer">
            <div class="store">
                <img src="https://via.placeholder.com/350x350" alt="">
            </div>
        </div>
        <div class="col-auto store-content cursor-pointer">
            <div class="store">
                <img src="https://via.placeholder.com/350x350" alt="">
            </div>
        </div>
        <div class="col-auto store-content cursor-pointer">
            <div class="store">
                <img src="https://via.placeholder.com/350x350" alt="">
            </div>
        </div>
    </div>
</div>
