<div fxLayout="row" fxLayoutGap="10px">

    <div>
        <mat-tab-group>
            <mat-tab label="Online">
              <div fxLayout="column wrap" fxLayoutGap="10px" class="left-tabs">
                <ng-container *ngFor="let user of (usersOnline | async)">
                  <app-priv-chat-online-item [user]="user"></app-priv-chat-online-item>
                </ng-container>
              </div>    
            </mat-tab>
            
            <mat-tab label="Contact">
              <div fxLayout="column" fxLayoutGap="10px" class="left-tabs">
                <app-priv-chat-contact-item></app-priv-chat-contact-item>
              </div>
              
             
            </mat-tab>
          </mat-tab-group>

        <router-outlet  name="sidebar"></router-outlet> 
    </div>

    <div>
        <router-outlet></router-outlet>
    </div>





    
</div>








