.login-block {
  height: calc(100vh - 88px - 139px);
  min-height: 600px;

  &__form {

    .form-group {
      margin-bottom: 20px;

      .form-control {
        padding: 10px;
        width: 295px;
        height: 39px;
        border: 1px solid #c5c5c5;
      }

      ::placeholder {
        height: 39px;
        font-size: 16px;
        line-height: 19px;
        color: #6E6C79 !important;
      }
    }

    .title {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      text-transform: uppercase;
      text-align: left;

      color: #28263C;
      margin-bottom: 30px;
    }

    .submit-button {
      padding: 10px 14px;
      height: 39px;
      background-color: #98B8E8;
      border: none;
      border-radius: 7px;
      cursor: pointer;

      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
      color: #ffffff;

      &:hover {
        background-color: #5680bf;
      }
    }

    .or-text {
      padding: 0 20px 0 32px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__buttons {
    margin-bottom: 20px;

    .google-button {
      width: 39px;
      height: 39px;
      border-radius: 50%;
      border: 1px solid #d3d9de;
      padding: 5px;
    }
  }

  .forget-pas-link {
    font-size: 16px;
    line-height: 19px;
    color: #7c7f82;
  }
}
