<h2 mat-dialog-title>Take video from the camera</h2>
<mat-dialog-content>
<video  width="400" height="300" #hardwareVideo autoplay muted></video>

</mat-dialog-content>


<button mat-raised-button
*ngIf="is_cam_active && !is_rec_active"
(click)="stopMedia()"
color="warn"
 class="add-product-button fuse-white mt-14 mt-md-0">
<span>{{ 'BUTTON_STOP_CAM' | translate }}</span>
</button>


<button mat-raised-button
(click)="startRec()"
*ngIf="is_cam_active && !is_rec_active"
color="warn"
 class="add-product-button fuse-white mt-14 mt-md-0">
<span>{{ 'BUTTON_START_REC' | translate }}</span>
</button>

<button mat-raised-button
*ngIf="is_cam_active && is_rec_active"
(click)="stopRec()"
color="warn"
 class="add-product-button fuse-white mt-14 mt-md-0">
<span>{{ 'BUTTON_STOP_REC' | translate }}</span>
</button>
