.header {
  &__notifications {
    &-menu {
      &.mobile {
        width: 95vw;
        left: 2px;
        max-height: calc(100vh - 80px);
      }
      width: 343px;
      left: -122px;
      z-index: -5;
      display: flex;
      flex-direction: column;
      top: 64px;
      @media screen and (max-width: 767px) {
        top: 56px;
      }
      @media screen and (max-width: 450px) {
        top: 50px;
      }
      transition: 0.3s;
      opacity: 0;
      transform: translate(calc(-50% + 10px), -10px);
      background: #fff;
      border-radius: 5px;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
      cursor: default;
      visibility: hidden;
      &.active {
        visibility: visible;
        z-index: 15;
        .header__dropdown-item {
          cursor: pointer;
        }
        opacity: 1;
        transform: translate(calc(-50% + 10px), 0px);
      }
      &.small {
        top: 53px;
        @media screen and (max-width: 767px) {
          top: 46px;
        }
      }
    }
    &-triangle {
      position: absolute;
      right: 0;
      transform: translateX(-50%);
      top: -41px;
      border: 24px solid transparent;
      width: 24px;
      border-bottom: 18px solid #fff;
      @media screen and (max-width: 450px) {
        left: 50%;
        right: auto;
      }
    }
    &-title {
      color: #29333f;
      font-size: 24px;
      font-weight: 500;
      padding: 19px;
      border-bottom: 0.5px solid #e4e4e4;
      text-align: left;
    }
    &-list {
      padding: 10px 18px 0;
      overflow: auto;
      max-height: 355px;
      @media screen and (max-width: 450px) {
        max-height: 100%;
      }
    }
    &-text {
      font-size: 14px;
      color: #29333f;
      margin-left: 10px;
      line-height: 18px;
      text-align: left;
      max-width: 190px;
      margin-bottom: 0 !important;
    }
    &-image-block {
      margin-left: 7px;
    }
    &-item {
      padding: 10px 0;
      border-bottom: 0.5px solid #e4e4e4;
    }
    &-age {
      color: #a4a4a4;
      font-weight: 600;
    }
    &-avatar {
      position: relative;
      height: 48px;
      width: 48px;
      min-width: 48px;
    }
    &-icon {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      position: absolute;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 2px;
      &_like {
        background: #ff3a43;
      }
      &_comment {
        background: #ffb03a;
      }
      &_write {
        background: #9d3aff;
      }
    }
    &-image-block {
      position: relative;
      width: 48px;
      height: 48px;
      min-width: 48px;
      cursor: pointer;
      .video {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
