<div class="row">
    <div class="col-12">
        <div class="main-photo-container">
            <img [src]="mainPhoto" alt="Main Photo" class="main-photo">
            <div class="upload-tooltip" fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="5px">
                <svg width="16" height="15" viewBox="0 0 14 13" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.17645 12.2353H9.82351V6.58824H13.5882L6.99998 0L0.411743 6.58824H4.17645V12.2353Z"/>
                </svg>
                <span>
                    Upload Image
                </span>
            </div>
        </div>
    </div>
</div>
