<div fxLayout="row" fxLayoutGap="32px" >
    <div fxLayoutAlign="start center" fxFlex="50%" fxLayout="row" fxLayoutGap="10px">
      
      <button color="primary" 
      [routerLink]="'index'" 
      mat-fab>
          <mat-icon>favorite</mat-icon> 
      </button>

      <!-- <button mat-raised-button >NEURO</button> -->

      <button [routerLink]="'typo'" mat-raised-button color="primary">Typo</button>
      
        <form fxLayout="row">
          <mat-form-field class="example-full-width">
            <mat-label>id, name, tag</mat-label>
            <span matPrefix>Search &nbsp;</span>
            <input type="tel" matInput>
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </form>
   

    </div>
    <div fxFlex="50%" fxLayoutAlign="end center" fxLayoutGap="10px">

        <button 
        *ngIf="!isAuth"  
        color="primary" 
        [routerLink]="'login'" 
        mat-raised-button>
          Login
        </button>

        <button *ngIf="!isAuth" 
        color="accent"  
        mat-icon-button 
        [matMenuTriggerFor]="as_menu" 
        >
          as <mat-icon>more_vert</mat-icon>
        </button>

          <mat-menu #as_menu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="men">Men</button>
            <button mat-menu-item [matMenuTriggerFor]="women">Women</button>
          </mat-menu>
          <mat-menu #men="matMenu">
            <button mat-menu-item *ngFor="let man of allUsers.men"
                    (click)="loginAs(man.value)">{{ man.name }}</button>
          </mat-menu>
          <mat-menu #women="matMenu">
            <button mat-menu-item *ngFor="let woman of allUsers.women" (click)="loginAs(woman.value)">{{ woman.name }}
            </button>
          </mat-menu>


        <app-user-panel 
        *ngIf="isAuth" 
        [user]="user">
        </app-user-panel>
        

        <button 
        (click)="signInWithGoogle()"
        color="primary" 
        *ngIf="!isAuth" 
        mat-fab 
        mat-stroked-button> 
          <mat-icon>
            <img src="/assets/google.svg" />
          </mat-icon>
        </button>
        <!--
        -->

          <button *ngIf="isAuth" 
          color="accent"  
          mat-icon-button 
          [matMenuTriggerFor]="menu" 
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="'myprofile'">
              <mat-icon>dialpad</mat-icon>
              <span>Profile</span>
            </button>
            <!-- 
            <button mat-menu-item disabled>
              <mat-icon>voicemail</mat-icon>
              <span>Check voice mail</span>
            </button>
            -->
            <button mat-menu-item (click)="doLogout()">
              <mat-icon>notifications_off</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
    </div>
</div>
