// Fonts
$font-roboto: 'Roboto', sans-serif;

// Colors
$color-turquoise: #2e99e9;
$color-green: #86c07f;
$color-red: #ff3a43;
$color-yellow: #ffd66e;
$color-orange: #f8856b;
$color-blue: #4b79e4;
$color-grey: #ededed;
$color-grey-dark: #595959;
$color-black: #29333f;

// Gradients
$gradient-orange: linear-gradient(93.25deg, $color-orange 0%, #ffa052 97.52%);

// Shadows
$shadow: 0 4px 7px rgba(black, 0.05);
$shadow-item: 0 4px 10px rgba(black, 0.1);
$shadow-btn: 0 3px 3px rgba(black, 0.1);
