@import '~perfect-scrollbar/css/perfect-scrollbar.css';

#chat {
	&.stream-visible {
		padding-top: 0;

		.content-card {
			min-height: calc(100vh - 90px);
		}
		app-room-chat {
			height: calc(100vh - 90px);
		}
	}

	.home-link {
		padding: 10px;
		margin: 15px 5px;
	}

	@media screen and (min-width: ms) {
		padding-top: 20px;
	}

	@media screen and (min-width: lg) {
		padding-top: 30px;
	}

	.content-card {
		min-height: calc(100vh - 90px);
	}

	.user-item {
		width: 48px;
		height: 48px;
	}

	.message-card-info {
		padding-bottom: 5px;
	}

	.message-card-value {
		span {
			display: initial;
		}
	}

	.img {
		height: 48px;
		width: 48px;
		margin: 0;
	}

	.cam {
		width: 48px;
		height: 48px;
	}

	.message-text {
		overflow-wrap: break-word;
		word-wrap: break-word;
		hyphens: auto;
		margin-top: 0;
		padding-top: 5px;

		@media screen and (min-width: lg) {
			padding-top: 10px;
		}
	}
	width: 100%;
	height: 100%;
	app-room-chat {
		flex-wrap: nowrap;
		flex-grow: 1;
		height: calc(100vh - 90px);
	}
	.chat {
		position: relative;
		flex-wrap: nowrap;

		//@media screen and (max-width: 768px) {
		//	height: 0 !important;
		//	overflow: hidden;
		//	transition: height .7s ease-out;
		//}

		&--visible {
			@media screen and (max-width: 768px) {
				height: 100% !important;
			}
		}
	}

	.video {
		@media screen and (max-width: 1366px) {
			height: 50%;
			margin-top: 62px;
		}

		@media screen and (max-width: 768px) {
			position: absolute !important;
			top: 0;
			height: 100%;
			left: 0;
			width: 100%;
			transition: top .3s ease-in-out, width .3s ease-in-out, height .3s ease-in-out, opacity .3s ease-in-out;
			z-index: 889;
		}

		& + .chat {
			flex-shrink: 2.75;

			@media screen and (max-width: 1366px) {
				height: calc(50% - 62px);
				min-height: initial !important;
			}

			@media screen and (max-width: 768px) {
				height: 100%;
			}
		}

		&--small {
			@media screen and (max-width: 768px) {
				left: 0;
				top: 0;
				width: 230px !important;
				height: 130px;
				opacity: 0.95;

				.video-chat-time,
				.video-time,
				.video-leave-btn,
				.chat-control {
					display: none !important;
				}
			}
		}
	}

	.message-card-mode {
		flex-shrink: 0;
	}

	.card-message {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100%;
	}

	.video-on {
		app-room-chat {
			flex-wrap: nowrap;
			flex-grow: 1;
			width: 100%;
		}
		.video {
			display: flex;
		}
		mat-sidenav {
			width: 200px;
		}
		.search,
		.radio-search,
		.message-card-mode {
			display: none !important;
		}
		.chat {
			width: 350px;
			.mode,
			.message-search {
				display: none !important;
			}
		}
	}
	.video {
		overflow: auto;
		position: relative;
		width: 100%;
		.main-video {
			width: 100%;
			height: 100%;
		}

		.small-video {
			position: absolute;
			width: 200px;
			right: 10px;
			bottom: 10px;
			z-index: 999;
			background: #000;
		}

		.video-leave-btn {
			position: absolute;
			right: 10px;
			background: none;
			top: 10px;
			font-weight: bold;
			cursor: pointer;
			border: 2px solid #00bdba;
			text-transform: uppercase;
			font-size: 12px;
			padding: 4px 5px;
			color: #00bdba;
			border-radius: 10px;

			span {
				height: initial !important;
			}

			@media screen and (min-width: 480px) {
				padding: 7px 10px;
				font-size: 14px;
			}

			@media screen and (min-width: 768px) {
				width: 187px;
				height: 40px;
				font-size: 16px;
				padding: 0;
			}
		}

		.video-show-btn {
			position: absolute;
			right: 10px;
			background: none;
			top: 60px;
			font-weight: bold;
			cursor: pointer;
			border: 2px solid #00bdba;
			width: 187px;
			height: 40px;
			text-transform: uppercase;
			font-size: 16px;
			color: #00bdba;
		}

		.video-chat-time {
			position: absolute;
			top: 10px;
			left: 10px;
			padding: 0.45rem 0.35rem;
			background: linear-gradient(
							106.66deg,
							rgba(248, 133, 107, 0.3) 2.84%,
							rgba(255, 160, 82, 0.3) 100%
			);
			border-radius: 10px;
			display: flex;
			color: #fff;

			span {
				height: initial !important;
			}

			@media screen and (max-width: 1280px) {
				padding: 0;
				width: 200px;
				height: 40px;
			}

			&__time {
				display: initial !important;
				height: initial !important;
			}

			&__text {
				display: initial !important;
				height: initial !important;

				@media screen and (max-width: 768px) {
					display: none;
				}
			}
		}

		.video-time {
			display: flex;
			color: #fff;
			position: absolute;
			top: 60px;
			left: 10px;
			background: rgba(107, 155, 248, 0.3);
			border-radius: 10px;
			padding: 0.45rem 0.35rem;
			height: initial;

			@media screen and (max-width: 1280px) {
				padding: 0;
				width: 166px;
				height: 40px;
			}

			span {
				height: initial !important;
			}

			&__time {
				display: initial !important;
			}

			&__text {
				display: initial !important;

				@media screen and (max-width: 768px) {
					display: none;
				}
			}
		}

		span {
			margin: auto;
		}
	}

	ul.radio-search {
		padding: 0 10px;
		margin: 0;
		width: 100%;
		overflow-y: auto;

		@media screen and (min-width: 768px) {
			padding: 0 10px;
		}

		@media screen and (min-width: 1024px) {
			padding: 0 15px;
		}

		@media screen and (min-width: 1280px) {
			padding: 31px 20px 0;
		}

		li {
			position: relative;
			list-style: none;
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			cursor: pointer;
			margin-right: 8px;

			&:not(.active) {
				color: #cccccc;
			}

			&:hover {
				&::after {
					display: block;
				}
			}

			span {
				display: block;
				height: 30px;
			}

			&:last-child {
				margin-right: 0;
			}
		}

		li::after {
			content: '';
			display: none;
			position: absolute;
			width: 100%;
			bottom: 0px;
			height: 3px;
			background: linear-gradient(151.87deg, #00bdba 0%, #24e79f 99.24%);
		}

		.active::after {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			bottom: 0px;
			height: 3px;
			background: linear-gradient(151.87deg, #00bdba 0%, #24e79f 99.24%);
		}
	}

	.time {
		margin-left: 5px;
		margin-right: 5px;
	}

	.modal-menu {
		position: absolute;
		right: 10px;
		top: 70px;
		background: #fff;
		border-radius: 10px;
		font-size: 0.9;
		color: #9c9697;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		z-index: 999;
		text-align: right;
		padding: 5px 5px 5px 10px;

		ul {
			padding: 0px;
		}

		li {
			cursor: pointer;
			list-style: none;
			padding: 5px;
		}
	}

	.drops-active {
		border-radius: 50%;
		background: #fafafa;
	}

	.search {
		outline: none;
		background: #fafafa;
		border-radius: 7px;
		color: #9c9697;
		min-height: 40px;
		padding-left: 20px;
		margin: 20px 5px 10px;
		width: calc(100% - 10px);
		max-width: initial;
		border: none;
		display: block;

		@media screen and (min-width: 480px) {
			max-width: 300px;
			margin: 20px auto;
		}

		@media screen and (min-width: 1200px) {
			margin: 20px;
			width: 100%;
			max-width: calc(100% - 40px);
		}
	}

	input::placeholder {
		color: #c9c9cc;
		font-size: 12px;
	}

	.message-input textarea {
		outline: none;
		font-size: 15px;
		padding-left: 10px;
		border: none;
		overflow: hidden;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.c-active {
		background: #e4e4e4;
	}

	.side-chat {
		border-right: 2px solid #efefef;
	}

	.chat {
		background: #fafafa;
		width: 100%;

		@media screen and (max-width: 1366px) {
			position: initial;
		}
	}



	.tottil {
		visibility: hidden;
		width: 14px;
		height: 14px;
		background: #4b79e4;
		border-radius: 50%;
		position: relative;
		right: 37px;
		font-weight: 700;
		z-index: 999;

		span {
			font-size: 11px;
			color: #fff;
			margin: auto;
		}
	}

	.online-b {
		bottom: 3px;
		left: 35px;
		visibility: hidden;
		position: absolute;
		width: 10px;
		height: 10px;
		background: #86c07f;
		border-radius: 50%;
		border: 2px solid #ffffff;
	}

	.play {
		visibility: hidden;
		position: relative;
		width: 14px;
		height: 14px;
		background: linear-gradient(93.25deg, #f8856b 0%, #ffa052 97.52%);
		border-radius: 50%;
		flex-shrink: 0;
		top: 34px;
		right: 23px;
		padding-left: 2px;

		span {
			margin: auto;
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 4px 0 4px 8px;
			border-color: transparent transparent transparent #fff;
		}
	}

	.storis {
		position: relative;
		width: 42px;
		height: 42px;
		margin-right: 13px;



		.play {
			visibility: visible;
			z-index: 999;
		}
	}

	.online {
		bottom: 0;
		right: 0;
		height: 14px;

		.online-b {
			visibility: visible;
			z-index: 999;
		}
	}

	.tottils {
		.tottil {
			visibility: visible;
		}
	}

	i.s-active {
		color: #ffd66e !important;
	}

	.user-details {
		font-weight: bold;
		color: #000;
	}

	.age {
		font-weight: bold;
	}

	.message-card {
		padding: 10px;
		cursor: pointer;
		border-top: 1px solid #e4e4e4;

		@media screen and (min-width: 768px) {
			padding: 10px 20px;
		}
	}

	.message-card:hover {
		background: #e4e4e4;
	}

	.message-card {
		color: #9c9697;
	}

	.message-card i {
		color: #9c9697;
		width: 100%;
		text-align: right;
	}

	.chat-header {
		background: #fff;
		padding: 10px;
		color: #c9c9cc;
		width: 100%;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 888;
		box-shadow: 2px 1px 9px rgba(0,0,0, 0.1);

		&__approved {
			margin-right: 5px;
		}

		&__username {
			font-weight: bold;
			color: #000;
			height: initial;
		}

		&__age {
			height: initial;
			font-weight: bold;
		}

		&__info {
			@media screen and (max-width: 992px) {
				display: none !important;
			}
		}
	}

	i {
		cursor: pointer;
	}

	.header-mode .m-i {
		cursor: pointer;
		margin: 0 10px;
	}

	.m-i i {
		padding-right: 5px;
	}

	.mode-icon {
		height: 100%;
		cursor: pointer;
		width: 27px;

		@media screen and (min-width: 992px) {
			width: 40px;
		}
	}

	.chat-room {
		padding: 0 25px 20px;

		@media screen and (min-width: 992px) {
			padding: 0 30px 30px;
		}

		@media screen and (min-width: 1366px) {
			margin-top: 62px;
		}
	}

	.message {
		display: flex;
		background: #fff;
		position: relative;
		min-width: 50px;
		border-radius: 5px;
		padding: 20px;
		width: auto;
		margin: 10px 0;

		@media screen and (min-width: 768px) {
			margin: 15px 0;
		}

		@media screen and (min-width: 1024px) {
			margin: 20px 0;
		}

		img {
			max-width: 275px;
		}

		video {
			max-width: 100%;
		}

		&.r {
			background-color: #f4fffb;

			&::before {
				border-color: #f4fffb transparent transparent transparent;
			}
		}
	}

	.data {
		color: #c9c9cc;
		height: initial;
	}

	.message-input {
		width: 100%;
		box-sizing: border-box;
		background: #fff;
		padding-right: 40px;
		padding-left: 30px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.message-input i {
		padding: 10px;
	}

	span {
		display: block;
		height: 30px;
	}
}

li::after {
	content: '';
	display: none;
	position: absolute;
	width: 100%;
	bottom: 0px;
	height: 3px;
	background: linear-gradient(151.87deg, #00bdba 0%, #24e79f 99.24%);
}

.active::after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	bottom: 0px;
	height: 3px;
	background: linear-gradient(151.87deg, #00bdba 0%, #24e79f 99.24%);
}

.time {
	margin-left: 5px;
	margin-right: 5px;
}

.modal-menu {
	position: absolute;
	right: 10px;
	top: 70px;
	background: #fff;
	border-radius: 10px;
	font-size: 0.9;
	color: #9c9697;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	z-index: 999;
	text-align: right;
	padding: 5px 5px 5px 10px;

	ul {
		padding: 0px;
	}

	li {
		cursor: pointer;
		list-style: none;
		padding: 5px;
	}
}

.drops-active {
	border-radius: 50%;
	background: #fafafa;
}

.search {
	outline: none;
	background: #fafafa;
	border-radius: 7px;
	color: #9c9697;
	min-height: 40px;
	padding-left: 20px;
	margin: 20px 20px 10px 20px;
	max-width: 300px;
	width: 100%;
	border: none;
}

input::placeholder {
	color: #c9c9cc;
	font-size: 12px;
}

.message-input textarea {
	outline: none;
	font-size: 15px;
	padding-left: 10px;
	border: none;
	height: 25px !important;
}

.c-active {
	background: #e4e4e4;
}

.side-chat {
	border-right: 2px solid #efefef;
}

.chat {
	background: #fafafa;
	width: 100%;
	min-height: calc(100vh - 90px);

	&__content {
		display: flex;

		@media screen and (max-width: 1366px) {
			flex-direction: column !important;
		}
	}
}



.tottil {
	visibility: hidden;
	width: 14px;
	height: 14px;
	background: #4b79e4;
	border-radius: 50%;
	position: relative;
	right: 37px;
	font-weight: 700;
	z-index: 999;

	span {
		font-size: 11px;
		color: #fff;
		margin: auto;
	}
}

.online-b {
	bottom: 3px;
	left: 35px;
	visibility: hidden;
	position: absolute;
	width: 10px;
	height: 10px;
	background: #86c07f;
	border-radius: 50%;
	border: 2px solid #ffffff;
}


.online {
	.online-b {
		visibility: visible;
		z-index: 999;
	}
}

.tottils {
	.tottil {
		visibility: visible;
	}
}

i.s-active {
	color: #ffd66e;
}

.user-details {
	font-weight: bold;
	color: #000;
}

.message-card {
	cursor: pointer;
	border-top: 1px solid #e4e4e4;
	padding: 10px 12px;
	color: #9c9697;

	&:hover {
		background: #e4e4e4;
	}

	i {
		color: #9c9697;
		width: 100%;
		text-align: right;
	}

	@media screen and (min-width: 768px) {
		padding: 10px 15px;
	}

	@media screen and (min-width: 992px) {
		padding: 10px 20px;
	}

	&-value {
		width: calc(100% - 55px);
	}
}

.chat-header {
	background: #fff;
	padding: 10px;
	color: #c9c9cc;
}

i {
	cursor: pointer;
}

.header-mode .m-i {
	cursor: pointer;
	margin: 0 10px;
}

.m-i i {
	padding-right: 5px;
}

.mode-icon {
	height: 100%;
	width: 40px;
	cursor: pointer;
}

.mode {
	$this: &;

	&--sidebar,
	&--chat {
		display: flex;
		align-items: safe center;
		margin-right: 5px;

		#{$this}-icon {
			display: flex;
			align-items: safe center;

			svg {
				fill: #C4C4C4;
			}
		}

		@media screen and (min-width: 769px) {
			display: none;
		}
	}
}

.chat-room {
	padding: 30px;
}

.message {
  background: #fff;
  position: relative;
  margin: 20px 0;
  min-width: 50px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0, 0.1);

	img {
		max-width: 100%;
	}

	video {
		max-width: 100%;
	}
}

.data {
	color: #c9c9cc;
	height: initial;
}

.message-value {
	padding-bottom: 3px;
}

.message-input {
	width: 100%;
	box-sizing: border-box;
	background: #fff;
	padding-right: 40px;
	padding-left: 30px;
	height: 70px;
}

.message-input i {
	padding: 10px;
}

.r {
	align-self: flex-end;

	&::before {
		content: '';
		display: block;
		position: absolute;
		left: calc(100% - 5px);
		top: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 20px 20px 0 0;
		border-color: #fff transparent transparent transparent;
	}
}

.l {
	align-self: flex-start;

	&::before {
		content: '';
		position: absolute;
		top: 0px;
		left: -15px;
		border: 10px solid transparent;
		border-top: 10px solid #fff;
		border-right: 10px solid #fff;
	}
}

.line {
	width: 1px;
	height: 20px;
	background: #c5c5c5;
	position: relative;
	left: 15px;
}

.live {
	width: 50px;
	margin-right: 10px;
	position: relative;
	top: 1px;

	svg {
		margin-right: 3px;
	}
}

.drops {
	margin: 0 5px;
	width: 30px;
	height: 30px;
	display: flex;

	.attach-file {
		padding-right: 10px;
	}
}

.noise {
	width: 100%;
	height: 100%;
}

.mat-drawer {
	max-height: calc(100vh - 90px);

	@media screen and (max-width: 480px) {
		width: 100%;
	}
}

.mat-drawer-container {
	display: flex !important;

	@media screen and (min-width: 768px) {
		padding-left: 0;
	}

	@media screen and (max-width: 768px) {
		margin-right: -10px;

		.mat-drawer {
			position: absolute !important;
			left: 0;
			transform: translateX(-100%) !important;
			transition: transform .3s ease-out;
		}

		&.sidebar-opened {
			.mat-drawer {
				transform: translateX(0) !important;
			}

			.chat-header {
				z-index: 0 !important;
			}
		}
	}
}

.sidenav-overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: opacity .3s ease-out;
	opacity: 0;

	&.is-active {
		background-color: rgba(0, 0, 0, 0.3);
		pointer-events: all;
		opacity: 1;
		z-index: 889;
	}
}

.mat-drawer {
	position: initial !important;
  z-index: 1 !important;

	@media screen and (min-width: 1200px) {
		width: 450px;
	}

	@media screen and (min-width: 768px) {
		flex-shrink: 0;
	}
}

.mat-drawer-content {
	margin-left: 0 !important;
	width: 100%;
  overflow: hidden !important;
}

.status {
	&--online {
		color: #86c07f;
		padding-left: 15px;
	}
}

.chat-shown {
	//@media screen and (max-width: 768px) {
	//	.owner-video {
	//		display: none;
	//	}
	//}
}

.stream-shown {
	.owner-video {
		left: 5px;

		@media screen and (max-width: 768px) {
			z-index: 889;
			bottom: 75px;
		}

		@media screen and (min-width: 1366px) {
			//right: 30%;
		}

		@media screen and (min-width: 769px) and (max-width: 1366px) {
			bottom: calc(50% + 5px);
		}
	}

	// @media screen and (min-width: 768px) {
	// 	.mat-drawer {
	// 		max-width: 11.25rem;
	// 		width: 100%;
	// 	}

	// 	.mat-drawer-inner-container {
	// 		padding: 0 5px;
	// 	}

	// 	.message-card-mode,
	// 	.search,
	// 	.radio-search {
	// 		display: none !important;
	// 	}
	// }

	.message-card {
		padding: 10px !important;
	}
}

.owner-video {
	position: absolute;
	right: 5px;
	bottom: 80px;
	width: 150px;
	height: 125px;

	@media screen and (min-width: 768px) {
		width: 200px;
		height: 166px;
		right: 0;
	}
}

.drag-video {
  position: absolute !important;
  top: 0;
  height: fit-content;
  //width: 100%;
}

.sidemenu-control {
	padding: 10px 8px 0;

	@media screen and (min-width: 768px) {
		display: none;
	}

	&__button {
		font-weight: bold;
		color: rgba(0, 0, 0, 0.87);
	}
}

.unread {
	width: 15px;
	height: 15px !important;
	border-radius: 50%;
	overflow: hidden;
	display: flex !important;
	align-items: safe center;
	justify-content: center;
	text-align: center;
	background-color: #4b79e4;
	color: #fff;
	font-size: 11px;
	font-weight: 500;
	position: absolute;
	left: -5px;
	top: -3px;
}
