.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 35px;
  opacity: 0;
  z-index: -10;
  transition: 0.2s;
  @media screen and (max-width: 450px) {
    padding: 0 25px;
  }
  background: rgba(0, 0, 0, 0.4);
  &.disabled {
    visibility: hidden;
    z-index: -10;
  }
  &.show {
    z-index: 1000;
    opacity: 1;
  }
}
