.catalog-filter {
  &__wrapper {
    padding: 24px 0 20px;
    overflow-x: auto;
  }
  &__scroll {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    min-width: max-content;
    
  }
  &__links {
    margin-right: 30px;
  }
  &__button {
    transition: 0.2s;
    font-size: 20px;
    color: #6e6c79;
    border: 1px solid #6e6c79;
    height: 37px;
    font-weight: 400;
    display: inline-block;
    line-height: 37px;
    padding: 0 14px;
    border-radius: 5px;
    &:not(:last-of-type) {
      margin-right: 10px;
    }
    &.active {
      border: 1px solid #2e99e9;
      color: #2e99e9;
    }
    &:hover {
      border-color: #2e99e9;
      color: #2e99e9;
    }
    &:active {
      border-color: #28263c;
      color: #28263c;
    }
  }
  &__add-post-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px !important;
    padding: 0 14px;
    height: 38px !important;
    margin-left: 30px;
    &-text {
      color: #ffffff;
      font-size: 16px;
      margin-left: 10px;
    }
  }
}
