.confirm-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__title {
    display: flex;
    position: relative;
    width: 100%;
    background: #2E99E9;
    padding: 29px 50px;

    &-text {
      font-style: normal;
      font-size: 24px;
      line-height: 28px;
      margin: 0;
      font-weight: bold;
      text-align: center;
      color: #FFFFFF;
      width: 100%;
    }
  }

  &_warning {
    background: linear-gradient(116.64deg, #F8856B 0%, #FFA052 97.52%);
  }

  &__close-button {
    position: absolute;
    right: 20px;
  }

  &__content {
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    padding: 29px 50px 0;
    color: #6E6C79;

    ::ng-deep a {
      color: #2E99E9;
      font-size: 16px;
      line-height: 19px;
      text-decoration: underline;
    }
  }

  &__controls {
    display: flex;
    align-items: center;

    button {
      margin: 33.5px 9px 44.5px;
      padding: 15px 20px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;

      img {
        height: 16px;
        width: 16px;
      }
    }
  }
}
